html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
    background-color: #f8f9fa;
    color: #3c4043;
  }
  
  img,
  video {
    height: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  p > code {
    border: 1px solid #cccccc;
    color: #000000;
    padding: 0.125rem 0.25rem;
    font-size: 0.875rem;
  }
  
  pre {
    background-color: #333333;
    border-radius: 4px;
    color: #f8f8f2;
    font-size: 0.875em;
    line-height: 1.5;
    overflow: auto;
    padding: 0.625em;
    text-align: left;
    white-space: break-spaces;
    word-break: break-all;
  }
  
  summary {
    font-weight: 700;
  }
  
  hr {
    margin: 8rem 0 1rem;
  }
  
  [hidden] {
    display: none;
  }
  
  .content {
    display: grid;
    grid-template: 3rem 1fr 3rem/16rem 1fr;
    grid-template-areas: "title title" "main main" "footer footer";
    height: 100dvh;
  }
  
  .title {
    display: flex;
    height: 3rem;
    padding: 0 1rem;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    grid-area: title;
    background-color: hsla(0, 0%, 100%, 0.2);
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    font-size: 0.75rem;
  }
  
  .title > * {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .drawer {
    display: none;
    width: 16rem;
    grid-area: drawer;
    position: relative;
    z-index: 100;
    flex-direction: column;
    overflow: auto;
  }
  
  nav ol {
    list-style: none;
    margin: 0;
    padding: 0.5rem;
    counter-reset: li-count -1;
  }
  
  nav ol li {
    display: block;
    counter-increment: li-count 1;
  }
  
  nav ol li a {
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
    line-height: 1;
    border-radius: 5px;
    margin: 0.5rem 0;
    background-color: hsla(0, 0%, 100%, 0.2);
    border: 1px solid #dadce0;
    color: #3c4043;
  }
  
  nav ol li[selected] a {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  }
  
  nav ol li[completed] a,
  nav ol li[selected] a {
    font-weight: 600;
  }
  
  nav ol li a .step {
    display: flex;
    align-items: center;
  }
  
  nav ol li a .step::before {
    content: counter(li-count);
    display: inline-block;
    font-style: normal;
    width: 26px;
    min-width: 26px;
    color: #ffffff;
    background: #80868b;
    border-radius: 50%;
    text-align: center;
    height: 26px;
    vertical-align: middle;
    line-height: 26px;
    margin-right: 0.5rem;
    font-weight: 400;
    position: relative;
    z-index: 1;
  }
  
  nav ol li[completed] a .step::before,
  nav ol li[selected] a .step::before {
    background-color: #1a73e8;
  }
  
  main {
    grid-area: main;
    padding: 1rem 0.5rem;
    height: calc(100dvh - 6rem);
    overflow: auto;
    position: relative;
  }
  
  .wrapper {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.5rem;
  }
  
  footer {
    background-color: hsla(0, 0%, 100%, 0.2);
    height: 3rem;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: [prev] auto [next] auto;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  }
  
  footer .nav-button {
    border-radius: 4px;
    font-weight: 600;
    line-height: 1.5;
    padding: 0.5rem 1.25rem;
    pointer-events: auto;
    text-transform: none;
    background-color: hsla(0, 0%, 100%, 0.2);
    color: #1a73e8;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%),
      0 3px 1px -2px rgb(0 0 0 / 20%);
    text-decoration: none;
  }
  
  footer [disappear] {
    display: none;
  }
  
  footer .prev {
    grid-area: prev;
  }
  
  footer .next {
    grid-area: next;
    text-align: right;
  }
  
  footer #next-step {
    background-color: #1a73e8;
    color: #ffffff;
  }
  
  @media (min-width: 540px) {
    .drawer {
      display: flex;
    }
  
    .content {
      display: grid;
      grid-template: 3rem 1fr 3rem/16rem 1fr;
      grid-template-areas: "title title" "drawer main" "footer footer";
    }
  }
  
  .gallery {
    border: 1px solid #cccccc;
    width: 640px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .large img {
    width: 100%;
  }
  
  .thumbnails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 0.5em;
    background-color: #333333;
  }
  
  .thumbnails img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  table {
    font-size: 0.875rem;
  }
  
  table tbody tr:nth-child(2n + 1) {
    background-color: hsla(0, 0%, 100%, 0.2);
  }
  
  table tbody td {
    padding: 0.125rem 0.5rem;
  }
  
  table tbody td:nth-child(2n) {
    font-weight: 600;
  }
  
  @media screen and (prefers-color-scheme: dark) {
    body {
      background-color: #1f1f1f;
      color: #fafafa;
    }
    
    a {
      color: #ffffff;
    }
  
    nav ol li a {
      color: #fafafa;
    }
  
    p > code {
      background-color: #333333;
      color: #ffffff;
    }
  
    footer #previous-step {
      color: #fafafa;
    }
  }
  
  
  /*
  IHWx9qeAlUtrRqaLqcJxe1wH9RMcNIp2BSbKYsZw9z/WkB6K8U58gQe+n3dDUdN3
  tQWqKzU8kXHNUX1MXQuigt8IxCPaiDyNDIYpXRgww5WAlwPnjFjOtXp3VNYnptK2
  hiXTEadKMM6I1owgdRZMTkce5ycWimiBlEQCIS7Nt/cI75lzl/4LOeaEosI/WTYn
  MaIhvxqQS9cpB/tGcqyyBoAXEZU5vyqy3PabL2zkthta7OvKMT6jejQAjqV6JGDM
  wDSf+DZ8Sjqk87wDc6mz3LfSezILFspiC3Jl5ms6ECU7Vj4/SLC57MoccCcrI9aX
  b9CPk4Wa4wwWoLoySmWAWmch8FEIJLBH18bEvRI2LjfrsoEwfcAHVFxGxo9P4dfF
  KU1BGcwAkubc5OvMENZFO+1u6sGT2uybWzkxR0f6atntVWUt4LY2S1ldDKZmBTt/
  YfBQvRGtFRvqr7r6LLUuuXTLTiDjOw7btqyhW0qc1TOzEnMPxtkaEZabuUtXRDEs
  HlP6a1qGNkAF8x4m8NoTxV64+t04PCl8FNgwG8oJZFKRSjVobWfs8oEaRTHP+7hn
  YND1TyXGymFIdm9SrCkR1QpaAKy6C+vGg1mcXihzHMtUSrCc2mZRgh9DygqkbrBg
  cC6yGAmkZhpFnSU4STpsIfJpxDE4gYHadSXiqhNX3drZZ2tE867ZqQvOApUK5xxc
  wKrciSaIcTUZKTO+L0XN1bFf+0OIKo9YOaIzHSL0UOK/xxqxvW4ECneQRw3NeElS
  Ihg0/zcWgT046Hp0IQ0Ki01FanEtWsdlH6PcOlDZk/zfV67LHl0d0t7GwSgPZ51/
  C0udsLNkxZZhzmS/qGh/mdMsA6nWQWluJWydDPpKxKR8SjfIDYbZ8whjTGmURcBy
  SAliwtSG5UENRfv8hchUqAxeT8pC/cXQ1VSHomDxZuoZXaF5ybTqsdq7nwAJTALQ
  cb4fiwffGaTcgbqwEdDZNv/A9VMNJ/L9hjj1Bl7ErW81h8PfMQalWQXcoCN2P3/U
  FTXOqFwf8aA8kD4mzQC8ATfFK5Rx4VjcAs9qIlp/R0ENvH0zi2A2d/QXKeGnmb66
  3cf8L6DKrV+d6BzJ27wqOstgyDc5lzdKrnaRAyodOBBMexGSDjdsNMDqoHGbP4Uo
  92dJn42upXs55C/v2sAV+tSnP9L0EJ7xUxiqMHg5njul9hTNINRf08Uv5v1M6fXv
  /iLsClMBYBZIHaf43pFkjTbL1OVeuov0zr6/qzKBMX2tJTODb4GGz6p0ARwa79oS
  QzqxNc5Dwrf3jCU1P84MoQFOYen5XfQTIc/E7boPcqxHi40QGxHv4uGvF/Mh05sK
  BfhFc5AdT/a9VRrWTqvgzityc8M2LYE9zZKoHkWmy/Fk9HEq4gmqSK52NvGsDaIm
  1iAuEpOhNsZ43V0HgrPqAbO4BYfzBFVm86szKda0EIzgVXzntxxWUE3sjqCaDEJq
  HjLGsYeHr3ZgCltNr2tfIV2TBGKZTDQkyDvDL8oYMcA/+941T4Zz/u9osajRkRrv
  nfQECETx0CPrnXfbtkELEtOlHgwQ0Ux76Q3etDOGo7MxFd/oVlvyUF67sZgihLL2
  8grmFt/MLyjVSlLB1/6oDGRO9JeeayxRy7mvMRSlAePxKeNH3kHz15E9Wq+/Xoak
  CtAJas+nxvY5DTFpr2nMuNNU9PmVOg+FYykOc4RQNjzaDPTvHW4RNVa/5Q/mD1tU
  py3nDT9nxN6CwhJ0JXiV1PBsdtOcgLb3RuHXqTekZLUE92eITwByROCXZ1n2KVcM
  9gko4SsOF5KAxTsexx0tYWb1JO4Feg4lsHd4wGml4OuMGm2SB4+HC+Hg5TrLwyfD
  wtYkzj4K6aKpPtpZvtrTSsxCQzDSJlT0NdLnvyvoD17j90J/n56T8v2M+8nk3mOG
  VZlSYwqRaQxcl6xwYqJS4L1nyIp3KfOCG4AjCeceY5msOt+3xlOfEaMhGErVUEVB
  Y6165Wmsl9xvdzpm42rW9oOAcQg6bazax7QhdA4bEpQefIzAthgkHWOzVtMPEBLV
  pzhxneLEQXhc9/3pR9ZGAXuiBf/rweY3ZChoT6nOaGvZKF4d/GRWmkNoN7PkH6Eo
  cbUiD7obwrmzkDBimBdztsm8ca+FM60N+zoJ3LKgSm0HDMuAB3pmRrmXL17t23xW
  b8S2vK4ysvbFbvbPCPKkslzY4Af2IUCBBR778SiWkXI9yvZWUXW0E+ku23ogtzHq
  ZMWNLT2wQZeSbwWGHnj5q7tzPfgvDccghu4XERZZaGjSZrtPb94MoFS51qwHvIno
  nQrCt+kWn+KAd0/Mv2dsPM2QvySWok8dVYJ2ZO38fzZMCyodaGOXBO20ZbpQcJef
  0fHMYF8CzLUR0ewaKFY1TQouuyDQM8/m1bxpbEKuUdr7eYFC0ZAnT0qm7udmjs94
  Eg6gGW4Uu/oXXKI4ufgx8trrzYdDsFfYlv7oJyB4AaBG8M5bvrHkLYc7vmhmTB0s
  KzEjFSj+KPp8SJTpogHhfK7tPd1Ifg6FALLk4P14lyrzPRIZ0PTMgRWo7a6ThYjL
  cUHlDRfkEq/aepeKvoqT7h8YHclBWdz5yL5sIn2M/3QdkY6zBl6Fj50ksyl4Zzz+
  hMLwSe0aEYG9p2leG6AXCpJ4OFaxp94JiIS/lIffHa+sU196WyeXzSL8l97qZ2As
  TKBkG1OCDPaXNxI9t4Lxe+x8CwfHIzFJV/8Gu8aKMeTaih7u36Rv0C9H2tbJGcIA
  79P3JFsa+cWXWOIDIuhh6eeukEnJa4iyNrnpm2tLrRn7SpR4pjeXT/mzt9XpgrIi
  vXwmYgo6K4ObtlUkt1YzoP+Rlar7cGH+oJUCJawCEilJA+RaGiiIzUn3CRFjpz8p
  cj91PWLujFrIcg/c7XvBGRnX0Hs7z7YYC5ghwYlDBk0xio1i0DvlmWhOHL2oo94n
  +XGOZF0lzQRjTxcPSu5L6nsaPoelKwsnVN1x0QLaYhFul48HgiOP4cDkGLVHffYU
  dG5HhrFWDMJphGBm7IFTraRCWD/+6HFFFZ1tbcyTy6tqFLxsc0b6BC85pvpYfwWb
  seoJFNoC65YHGxwprgHMDModcy/xlIuxBXAtb6lwR8Joyyyh0P8vaYPQTxq2N4I8
  qSo8OZXXHjh2Mn9f4ozf6E8Love5P78+dBej4gvWee/ypMby5HsXE9CN1qUpIakm
  CxoXmZtTXE3Qw/VHhgghycOZ0jik0dHBDFxS6YIaufmeoecO7W0ORZ3bsfODrgM3
  TPzhUIu1fxMWPDEq/l1vvopOhg9hGBne7XCgKoAYzhcwBNFPTwA/X3+W6pQAu6kj
  WPXjuKYrn4TYCMNN0EkytUFf7oaGfOtqCQt3N25ZcB/wKXScsB0cw2E5eOcHDe/m
  vH3pK1aO63i+xynP1683/itJdpGG3QDJkKsBnmeD0vMQcqrQ02dOXhT98vCnXlok
  +wQQwCUnCSw1RNNYtWeLVqEG8AyLs5JNvnIuFzXiVKb5PPC/AoasPQnyrh/KuVA3
  9sjDbumh3iL+nVzE0NaDojrbk3rN/74Z7Sfxw82kGi9GpKm6AAQsqhUZrxP35ZpA
  IBwFodacpJfSWeliujsWZMil1bxdaUCcA7W7ZLd91qQ5P0Nby1Lq/CncQLiGDU+E
  DABF8Bp6mievE8oG5Xqa93z5ui7f/jFrMFGcp2RCnr2vwRKeqEw/x94/PNYI/h+W
  cERVvf2fw7brUlr2fNgJyBEcxELTYW5wjwbvSTJKXnoDLALUzvACnwH8obWPrj8+
  exot9gHf1iID0kwxZhq2irj+sfSzinsH4DBT6tpL/Hye7T5tm1OpKyuXNDS0wW0C
  mSwVxwnme48RRp9VicKBhq9YK9vk/PsklhCJmyBMA818QP9ktYKd8md/kx+ykjLH
  PdyJYY9RceH8G1e4BNRGWRhtrwcCkp06w0OL34gsQjP6JnKfG54cAmLNnaidgltS
  lE7yyWpeFgQ0lBABTVuMIUu8mXnw2snEgmveuNPqi2V+UQ9PxBbcaiCaKff160X2
  u8uDSscDNmt/JBbSUS/BHSduf4nrn0nbMfsHyHeDwYTFXxPcljVDJ0O9LqNQlKDs
  26y9Vqv7gDpZTmLg6N6Nr1blbYEP3qO46CcWANUwM2V6qIH8Jk9gq/a/v60u2buy
  4w7UnXVpFVRIHXMu9WWIpMUMbCF29jiWkoxNWG21JZUREQ7/JxOPE0pkJQ7XrycO
  p1M/RujYE+VrT+x9exE3nTm+Hp7MegDA1LliEVJA7/ANEubft3dcV39wzJ46xPT1
  CU2dmHwmvG2iRv0FoNhDo4iK0WmU4ZF/ToLVLHaOEP1yjyie8n90IskMBKMJrNPT
  47TSCLzQtQa7q2t6pLM56UBJFppIbnhQ/Q8nMy7iuDxVkKzxuFuhI/ep0QCG6Ch3
  ayA9mX7Kt8fbS5Y47vGI7db11unEQc+MBDIYJHS+x0l3ftcpJfsXKdRLW+rpilcs
  i6g9VurTc0+XxUN3HPJntsFg1thsoHuZYe7YAKRsntXGNbw0mrESVQ1Im8iB+/Yw
  DjraKosREJTrj6BtJzCJZXzjp+nGtdrq7zq3yS3RSS5mIgzQVIweQhl2+u2nZL/v
  mjx0k24Ck3FT9YfviNNrr/GSXzPptCe3uZLF5dqHW3ouDRw4yN7wNCviFy9RL39/
  wvFP0R/LYBs7DGuHZKLucauJEC2jdDVL6yhfLoKtFkNru1vJXKwrlO+13AFyLZw1
  /3evFmGX2+03OLwdxGGS/rOA8F4dxwsQlVzL877P0yn3y2hXXPdrIDIoCKducb4Z
  ma8eQ1TehmVt1HU6WiIrsfHxZeYIOCLqhXh/rLkSK5uZN9QnfmB9+jcq5IaQ19JC
  W618Hwz6qptoVIgW0uhGGsUnHQNg0N5gjPoWMuwZdUPJzEPouianPAuvACDsUGSf
  E2s6rOEVedc92aXWcoPUZud6bHg8OFTwOGD2sGIOgGXfLkrKGZ+wj+oZFEKDfXLl
  Hj70IQ8vu5IB2Y0/WSE4xuA3rSH5WL/Kjd6SLVfKSQOPGY+Bqv/cjtpebnvUZl8h
  N9FfQb5wE91DaDREk67KHE/o+M5E02+nOJPzRGWyUk/Y591SzVUs2BNxRWVoi+Y8
  t1MU3frnsWg3tIB1e8oTrDVV/uzTH+wQizxhV6hj4W2sZq3akYyNbWU4om8qdqIV
  Z5HEN0pEhBhsiWeVY9Hj4ubWBiEFCL4UtgJXKiOeEWM0pfovv7eytXvNKfone4mS
  CRw+LKpx1cBxp8A67cWOaLAqtiKLldZVa7OWisIZm2n7E0cx293xXsrc29e26VQZ
  HNcwO891ABbkxobZbiuGuQv6kuvGXmKs2W9eEWcCxo0w8jzWOo5wtAMOx1yp8F71
  PzUtX7gv/Q5NfcYwrcZSHw1EOa9/l0f0PGfv78bA1THBwzwPTUlJnreH30QPdRr2
  iOViZgPdF9+YMb4UMLan3AJcKPXykvYXd8hM4fPmjCraXdI1PHioRlHEBU0uINXx
  wHT4YvIxtPr8cRvzf3otPmpOmYwCliRi+JXDtI/1cL3ylg1qVhd2yOykB7MpfI09
  FnI6QoxuFi1vVuGiPKmL/XtjuOlcqnZ1M0YUz7FUx4bk3R4qKWnq/3gGTdF2+ZV5
  xSJNlpxmFveSdYFhbNy2johFnnNSCzexwpmIQqrSgVzMpMGRFJlhlQzEUgrHjuVF
  oDtN7khKcJVVPRRELgX4XvawUrYaijPrJid04NftYJxbG6/QZYM6sI1p73bRHQ7j
  qqndzIVSn50pw8h/M/owLOZ8fSUEw3aDSq1GGo0iaUkh1u9D7EKXKbUxqdJEcUbR
  43LT4z+EGhCwCwkIsMAkdYnjctnaQB4PplkB/kXcLvUOZU4wEDXKxikTIB3kS6pj
  Z6XuBLW/lRr9KP9eA5dDq/PN3EvJHdE4SgsHK0ZQc8oOorlA9n81Lpil+V0S01ZO
  zwjYzRAsFa/b+GXciOkhcyPOkOQ8+k807+nPgyjHIT+bNvZ6MagpD/Oevcz5zZ25
  d30c0ZqSXaZP6dZe8o8doN2LR6RP3WkNvApDzIboPUj+C8T9bRI15rth2Mc9T/N/
  XBBzt47qM2DM2uOVf69vdPwYSyUFCUoGWTvpE3kPvIZPUAl+FQEhyRBwALDvx0Pv
  CuC3gI8AVb8FMFZ38r+ALRxE1NKDQ90M+jmZ2pk7BoDIs5dRLvs5TiDEPhshn6Sm
  OkkG4Qtx19eONgrRT7U0GCsWYq/TUg3awe8NZsTKvQmEx/e6FnillFDyh0d3kSSp
  78UauNFExChTvaXmG8hIg3cUUCGbZOgbYW+ISxFe410CCYWXwz+1v5ik/P0Sbkzi
  lfID9EtjZAxXJvFhaRu7XDaEKdcRcwxhCVA1g5uxwKTM0ncravOuoQYPV6Nf5bdO
  JwJQv50DsCOMjmqvM9czYPQR26Yfi4bPZxZ8AU/H31kR8/5ezOyfijwLjHkVQWXL
  Vp2RS+gDurMSjA+VHh1cj6XjvBzwXs8rf8rvJceLhw1jgJWO4xHuUxko6SP0JUl5
  7ZrWN+YC57u2j2gl8cLXvQ91WLqRCMAdExTlxWOb9V0ed+m1Xn/NCP8OSJSvgqTd
  r88sbwMa4EqIT+nNeJZDUYbc9bi9I4JUWmfT22EaVcJLVlxPQKgNAcL6JdgIU+1K
  PRxYoBTjrWbTEJG3ZElkpv41c4WU/JrvY9GuGoZGZ2gStdf/S6MoGOkmguvYGGN/
  vaGnXwY1fLYjoDC+23K9QKSm2e0p4GFWhLYQ2zquTcU0gCX//cZR4Yp9+/0VY42R
  oXb9oWbgSBQ0SQ65P9sHxonI2AoUlxohV36WnCgsvGDlqfG93OmIfJnlM72Cezzf
  ThIFWKt8KZ9LC7QmeY5B86VYblFtj3dBvuTUdC3PZtqf11G7TFWGbY+U2AOZ3IGf
  darYoDfQwHmMdsmBat2nD/eQ5ua3zh5+5nKhmh4VXYK3fUmh0vqzdFU8PVQrUAwy
  ioR6nMRRAC++K4giNTPz6LeSy57UpjTIQQ3l6ivAq0rojJKyUmMq5rV58zsFntIM
  KHf504O+8aRLGdy7dkj4hbxsEJ6sVT5OzrA4F5nl2tBYwyifd16rXHPmycgvYY5W
  GqjbtuV0xZW90HLXd2+wMyjvhWEftbpU2w404VUdwFGXlEs/Mk+vf35AUy4hiVPv
  SGwSPZDAseNbNr3di3nkzIyishNMk8goxjqp6BZpoVLyK833Aaa6kMVaOHTGMVh/
  A6qStJnIUByjU4Twg6S4QtRTEKxgn7oh6wLNhQ8nrqrnnC3hk0VYDlBFJjzp4yyP
  8dDoFV3G9CqJLxmC1wnS0Cu4a38+jXwx22xnUcuhIBUX4NhI+y0gXL4PzSsC89oJ
  747+8keFQQIzrHTYvu92NeFO15YbpE/yFgjB1q0sqhvIYHnrKk1UM1dWC6qPUtaW
  j2ws5aOKhZjhpnUfD2+u93PgVhvi6IauzFWFANvJkUMTfSVvMTa1XKYdgvveXpn9
  xn0HgWbcJ31mses+oBPgk26POYFGDNZTWtO7RoBkTi46KAwYzkL9TxSYBt/cNytf
  nbXLhWt2x+nBWmIpN8H6rvKpeItgKMe/r5nE159xgFtLbaR/qI/OG7Z3QmGHbmpP
  phKGlwOBj9C4HlOM5vMzHZe9wH9HOpxMDfXG6/JQtIrRhTLgbP6nMPSWoPbVrcjZ
  /Yajzj2DRdSGuHN+UfyzARD9ZonErslxNACoQT0ZzOVjqT8ds/DUZsCrTb5zXMFJ
  qOZw6ob5oMv8PTGdvNq19QLyHAP5yLMwZPM6EhGXyR1A4MXUKnozJcZY24eE1Dtn
  mM76C7bcb7ob0+sw+/RtANOC0muZPVuTY4BBaX1UbnGe/1Q0ujQiH/c8QRH5IKcI
  WcnlTph/Yl9OsoDzlSreM0T9rxp+lRcnJWWOlvwcMv6XiGYgZm6kpADdjNmYPQWW
  ipyScTCA+hYyqsFMLTR3vJzgT6WVjffXaB3GK8gvSr+kY7EfcLfMk4zP9v3bvWNd
  HNk5BIJZhQmpbUNytFmJUrhnc8b7YYOOg3HAJOP2s20iZSnQLAL5aXKINDBRJRn+
  8WzUQhnfOFHn7ZQob2k7qnttDm8/Kne462ib+C+cA54cMKdDWp3gIFu5ZyhpTXyk
  9QRvkT5Eq8Jr760ntnuFJFjVLgh3SFb1IqU+TZ0uHbdZBwDAiaDE+AwBV/nkmw1X
  5gqNsWeU0CVfbly5pOP8kNEQ2slnn/p92EW6cwkQld4iOIDVziFS++ydjYFl0zm+
  Utk9XnynwDyl3Gh82BAh9objgt1MKVALhs11PgPM4r5dp6VBsLubxyy0dDJ8fzmS
  q/8frZKk+k6yYC1dv854tKUTjswXySyvlvQ8TrHhuK2dAMM4EniJ+RdNsRFkzuSS
  dO0e2FX1gCI5RiHJbg8JWumP4Fu+0P8UBH4AvcoZ1leFQUv12UNiHSTgMpRcoN37
  DrVhv+jSy0NMVTXWjs56ozIUogoVh4716BGvypLbLTvosVZWw4I4d4usk811tjGD
  T+2Kw/BLzd6CIXVveKp3GYPbQ1PQnZLmYHZsaXZjA0RlYmFoXy3gVEMFZ+f8g7Ne
  GRWRmXPVj6bgqyPe3ro175JqkLNG/lrJM+5gPygTceJt0GEwe6Slj3v3TJgLWQr8
  8/pJecTAaxbMoIGHeWQ8u6T0MpABw1Sm9bmfxo66g4ETErcy0ftPRZNHIrolp5pV
  7uu8P0pOxnvtjDgdv8CoGbLsd4YCsPtD+48O0sukdniBXiC2L/s0smz0ZTG4umd4
  gJsRsQwfm9vK8Sy/CzD0u8s7wO1lY1NcGtmSEMI9o22Pup+OiaC4QcfAu0den1rh
  sIjAd/7uEBCw/SIz0+h+3iGCPwpK7mLCATDtNKwGLB1Fs05823CmJ5BCnxI++Eey
  QFVyQybTYsEb2VhLZthVdms03ahzcCazZ1J2AxYbLMH+J6Yy+miXboVkK/A4pFQJ
  NYwYdiEQ9PlB5v0Et+zombd/q94qVDUQtvJ+AVR411+9kvmWL9p1HCkJRJNPdzNf
  4bloZElIWdkBHbGv4qJkFAMoGNOl60PGhR90hZPdEFaHgJlbjtJLiTWTU73S1fjl
  4xEJ2is7+gNcNFVlv1L73bVAnAn3dJ0qJlOa9VioNS+Bq+0gNX+oEogPO9W3394f
  otLGyNIuekrjOhykYmenKsnwCf/F3bT9NsssashEyp9JfSB2CuhsRILu4IS8hz4B
  QrNIew5EdILsp2t2lcFkTVbS/WgCyeP8tA8FCbH9eiXRwxIOqj9D54WsIfgRh5en
  AwFs3ZyFV+3VKUirQ/j/ASchceVqpjd1w8sSwQxZid8pDt+RMYZwfRjEL9VYrEAw
  ZYQGqvxTJEChE4X5eMid5R1z8snotSwNN2Lek7Q/CwV26W4hqX4S95Nb3TxOTLpj
  6L/q8IPZqh1AlMTEb1bbbPdIS6xKbESYSG3SyyKOFHJSuCnWY+Ore/Je1a/9BxWj
  EBX+6Wp8H8LoX4R9+QFuChr4vHL6TYVbEK0nt/eLmPHkDZKwz7l9IkxowPm4shCz
  EJoHyOMmCKfHxPfc+LeC5F5tOOBgaS1a/+vk/5ze2spXwJqAYRcbd0azvD8WNvuA
  2d93A4d6ZQr0lOvYM64veodhs1hcwUWaW315zFoz2WEEFQzE0GcGrLHZypVg/759
  No/eQg52C3BxZIefgKJrHNEtKSiGBQ2KApvGroYz0Ap5qBkopgFx5bfqyfGm4Ad2
  1M9eDCiplXu7j589RSzsrkxRFmi6oiBES5vCeBOxd88j3wcIEoyuO84xtD4gismS
  3SaEq//qrqQmfW2+38hxSd3iyL9DDHCtE9At76wH2k2Nhmak6asF9/JCFsXF+K51
  3H/M21YVg4am6PpTcjw7qnJ2iPZFSPk0cts33j1zuDN186Z0NHgsCkllzzHJLLX9
  Br45ifgKqLxdjsJZoZ6Gmfs38Q6b+vaHITUzjg8LKENoZOh+AQWrJK01mIEKppDf
  799i437AdkbHGhTJwYIkuRASGsSnSJ2RHibmKfh5m5pV3FvmYjzL+s7q0UjCLxpd
  XNZ3c6j7meV19m6gm9XwoF38dPruXhyHxUEe1r4/D6cCZQUEM/xLxq0VxqsJsH+7
  8sr6y/6IWZnZHQveUdR4Zvlmew69q0mh9n9ZdOPqNAag2YVPVqRZTJmsbkBZz8Wa
  /Hm1RsO4/GV4T2Dx9DCITzfLnZP7TrHt8WJF1g+yJ5r2z53KgQtjRpxQ7L5U2bL5
  k+blA/jWkj//qlhr8Oy0oDvhCqzaau+G7MUA0GBTQzzBvgKbmatUdaUgA2LG2ppa
  vmPHxkxxf9wqCUj6xKSaEr24OlVP+HVVD2qeHNb6oMaketZuJLk50U86tb5ijtas
  SlAVZvSCkDKSs4p+UE2lekWI9tJKhL238NWlrfOfA2hTV1BfuvLq8NYQCmwLAdUt
  dpNLf/zvXp4mmIjzYURVgGTbC9dSsXRUvWFcW/dYjSkKR+/NRelW/vLUSevEKcB1
  5oCUui2Jm5lfF6jMSlZ1NUf2PAeMDS+7hAvIR76Uzwsg77LUBaUi3mT2xM843ouU
  gO/0CSDuMvXQpGRe9HEKLwsWbSIo4ZgUNzDdZATZqfoAnrq68//9qAzd3epGGNEW
  8NFEz4vUgOfSj3nVx89C4nn7T9G5TvkCl+5EZ1jeChiX+5quG3i3Oib8vqem5KVw
  wEqZQFlI2naR87oGcMLq9w+1skm7aSImPqRG7SgTIFXEDGCgIuUTrQVIICWbwv8W
  3WFZnveSBP/ZHJo5q5jygHjZw4jj91s2n9LXhr0yNmewUa0G5uSdphmAgNQNcePF
  YY3johvTz6R9AMSixxGqVkg053B+OxTJqKJlQ1M3PgbFBI4n+w4D102qWBQL/Gw8
  2jrIgUme8lnQul2ptb8flem5rNBg+dXUh42F4KuyOYxFlfSJ/eccy9++WWQhdTaE
  jJ1669gi5dDrtcrgqO34ETmx5IgPZvhmtPi5TCkOGDCoGc/pFlgEA0+mGBuZgudX
  HTP5sY37dpEH08szZchNFQOz59t4GoOu/Ib6m0ORdbYkoehoNAJ4u94lVegdIHo1
  G3eSS0SSy77yIJI0rMtd92aXPpu/L5iyJ8SbTmIQThbmv9dgEmUIKbg+11iNSRoN
  in2LMLAGOVwAb3n7eLaUb/R9P6US1y9huEKZgSGbeQ/4MqQdzZN8X0H6dIzVwNPz
  4X8U8gN2Z0imIzeC45wNvw8NUUOzb2woCgIhjRgkTa0GDAtYPUSBpp/sY3t+vuzS
  EUr8mPbLIuwG78UYmhT27Vn8kxYMc1UtlPXe9Uw8YZ4Gdoa6bon6TRQcxgXtG/LR
  +RKOAYSl63qH41PfC0yO21wbck6BonAzwA+3og1dT8C0+BivUzv6RuDDiKypfUy6
  kUqtYKq93E0P5m03L7kQmY31BTcPWMtqKh79TPwdbGezPPaWrrT5htrZW/Kwzl4t
  AApiunCAuV7ILGWXa8LFs08b4XQaqXOhFELIYeuYeRdOLsYlkF/2+6WYdyVafMH/
  uLTmU8biFCHIkM69150iO3UNCXEYkt4kyfFdJHkZMQZ+PDUpNzwc9v+tuHoCkgd/
  Si+dFISJHYum5j4ucoNDh3IWBkJsJvDSF2hZPqPqC77LnpV6jAHqNaQgFxZw1mHD
  VGXoc5a8XCY1Z6Cw9Yh0dUYSQxKZLsSwCHlv5JsTYw5yhLHWJGlHaqE3F20piAdG
  VL9Gj+xLlZv0nyWoxBPr2SxjtCAGO5Q2Q9fW1jrKbYWr4a5CZ0AxPEWmcX0OtXu9
  6pg5DzADBynQpmicF9fImzKx7HfRGH3BRU06j3ljjTYPsCxvl1dUwon4swdJJuKo
  PHYzDxruBLHcPRisLfgW6zLzFcrs4MGFhZdD6dScZ/C6r2cHd9q9aYV1sm0m8Ulb
  ZEyxXHhq/MFaer10k+HfhWETDdLHqhcRKwrmUSCepuDtWhMCW6rJbQ4L1gwgN7bl
  FfYLxU6SzSKnoawwGLSBq1kg2SImGBNFJCXTLOkm1+3tSuv+8+hbYsfI1sfufKpr
  MCbeUxwSnzLpE3ROex6QAVGgvd0o4IUQ4gC6AdnbP6TEJJJ3S7/8djP2wFef60/G
  HPI/THaVqlQeAzFUwg/tTl308QwkIUjz1G9zPT6jxmlXSRqxT7ZQQZ/0M+8sI7VC
  Vxyj6Ij+KlvvW+1x2msCDob8q8VjOFrTcYCHSNWm8/wA9J2MXe3LcpW5vp9c9Mgw
  JJrYfSXLoKmPEB3f283Rma6UUKrFs0te1bDMv9FLR+tH/NrawTxI82eef7nlsska
  Kudf7OkAtG7uGmOnv036POBVjfFUHtPIdBIaC/npR1vMBBWNPjg4M1TUq3IxHUex
  yggfNI2BJ8pYK4VYZIAJDiy8cqGIksiQovbdxu121YLbgrgfEPWQ7nmpqStc9eNR
  buVjOXMLSiwaHv0TjOP/9Qve01kIIQV787yf1epUD+6kB7B8DPkT+uGvnT+xHgjP
  +ik0FpKUuib4912lH2EjYUhWNAMspMIHIfxGHf8RyrXbz5rgZETN3chT/KdKoa3S
  6bhYN/q2VUo9gDiLaURboGjEgp5pE/d+L4uUYn55XMHQZ0dZ2DirtEYs/2k+6Tig
  yHHioq9rNJehnf9wRaONOJQO1NuMp/wohZfp5M0TXibHlWNPBA+6TB8uD5m73XJF
  50gARDEkvW5e5RW0F7cw1SBuRRyyeLOVRsbBiZsTqlBH/A3vsixz2wXF92XdFuS6
  VabKi85FyvGiIKI7FiBH/C6lKmMqmM6NMcO3dvUtM2zk+jgVIDTv4FQFyAfYoLyy
  f3tEAfvwuOF23io2w1mB79hJ8P07MXPoyM78n/xTzFQRFaNjvM3jb0NZ85CwDiJy
  DoLuRydhPBmrY1ug1RJfOWLtgnjCVC23WrJcgWRuBAr1lVv7WUcHO92ITdHERCYl
  6WK2bR+Cg5DF76sQkiUYcYGZCbTSCl/M/UWtINHIv7/blwQ2kAA78S/yj3TV3uZr
  Ls8q1Fd1XX7HY0xF+t0DCsL0Br98xCpNqEfALjYDZDJCYMnLtIjy5sBqlh2k59y8
  WuaptJ63HVlVmrvgYLJKp0xB2eH6S/Gr8FdOqJxMHAI+0HnUYP3VvszGwAgawTCf
  TZMUSBuyCohlOM+SiFj0oteN2rFynUpC4EZRSryFPLfRFHZSYaarnjAip3KcFB2w
  4ncDJaZK1Y3fDRQylLSA2bgWb2GXqQajLGEHCgZEhSTKmMAXtqdB7EJgAAPOlFY6
  /yejtzbH3OYwJcPsz7wDxX1GQU+XH3S5EWWLsjkkYmePJyqQZDbqXDHER3275Dil
  CutYPY7kIX8wBGj1pLJiTw3unBnvTwfE1BHV4eCG4c7pHaEAP6/9UHWj8dnePdvJ
  v5vqMVSPoe4cQ+CVQE0VOTZ2WMFGkuI9g0M4lHQ8lx/1XwXmRP+FDlHGLVf9XGWc
  2Qgs2OkMWO4UW/wwMx+zO/fiyOe0ngc/m5BdLgP/Yaom6YXDrUp/HQ7W6To/h11g
  4CEosxIlsbHUIM70L/qlI37Wo4QQAgnoIpww+AtjYEN1hd8saQ82QYobJkZsc9KY
  WFaHxF+Z12fq2z4bnu9KogXhk1LXMUiWGLvWM7YsLwED3w4drwjTL1ix1LlqCpJR
  dOA1sQczAY1Z9byNvKqrrg==
  */
  